# Будут игнорироваться файлы, находящиеся в подкаталоге tmp
tmp/

# Будут игнорироваться файлы, заканчивающиеся суффиксами _old
*_old

# Будут игнорироваться файлы, заканчивающиеся суффиксами _backup
*_backup

# Будут игнорироваться файлы Thumbs.db
Thumbs.db

# Будут игнорироваться файлы .DS_Store
.DS_Store

# Будут игнорироваться файлы, находящиеся в подкаталоге __MACOSX
__MACOSX/

# Будут игнорироваться файлы, находящиеся в подкаталоге 1.2. Site For Import
1.2. Site For Import/